/AulaP/Aula02Ex01/target/
/AulaT/Aula02/labParte1/nbproject/private/
/AulaT/Aula02/labParte1/build/
/AulaT/Aula02/labParte2/labParte2/nbproject/private/
/AulaT/Aula02/labParte2/labParte2/build/
/AulaT/Aula02/exercicio3/Funcionario/nbproject/private/
/AulaT/Aula02/exercicio3/Funcionario/build/
/AulaT/Aula02/exercicio3/Funcionario/dist/
/AulaT/Aula02/exercicio3/Televisao/nbproject/private/
/AulaT/Aula02/exercicio2/Televisao/nbproject/private/
/AulaT/Aula02/exercicio2/Televisao/build/
/AulaT/Aula02/exercicio4/Invoice/nbproject/private/
/AulaT/Aula02/exercicio4/Invoice/build/
/AulaT/Aula02/exercicio5/PerfilDeSaude/nbproject/private/
/AulaT/Aula02/exercicio5/PerfilDeSaude/build/
/AulaTe/Aula03/Aula03Ex1/target/
/AulaPr/Aula03/exCarro/Carro/nbproject/private/
/AulaPr/Aula02/exercicio5/PerfilDeSaude/nbproject/private/
/AulaPr/Aula03/exCarro/Carro/build/
/AulaPr/Aula03/exemplo01/Exemplo1/nbproject/private/
/AulaPr/Aula03/exemplo01/Exemplo1/build/
/AulaPr/Aula03/Exercicio4/Exercicio4/nbproject/private/
/AulaPr/Aula03/Exercicio4/Exercicio4/dist/
/AulaPr/Aula03/Exercicio4/Exercicio4/build/
/AulaTe/Aula04/Exercicio1/Exercicio1/target/
/AulaTe/Aula04/Exercicio2/Exercicio2/target/
/AulaTe/Aula04/Exercicio3/Exercicio3/target/
/AulaPr/Aula04/Exercicio4/Exercicio4/nbproject/private/
/AulaPr/Aula04/Exercicio4/Exercicio4/build/
/AulaPr/Aula04/Exercicio4/Exercicio4/dist/
/AulaPr/Aula04/Exercicio7/Matematica/nbproject/private/
/AulaPr/Aula04/Exercicio7/Matematica/dist/
/AulaPr/Aula04/Exercicio7/Matematica/build/
/AulaPr/Aula04/Exercicio6/Estudante/nbproject/private/
/AulaPr/Aula04/Exercicio6/Estudante/dist/
/AulaPr/Aula04/Exercicio6/Estudante/build/
/AulaPr/Aula04/Exercicio8/Exercicio8/nbproject/private/
/AulaPr/Aula04/Exercicio8/Exercicio8/build/
/AulaPr/Aula04/Exercicio8/Exercicio8/dist/
/AulaTe/Aula05/Exercicio1/Exercicio1/nbproject/private/
/AulaTe/Aula05/Exercicio1/Exercicio1/build/
/AulaTe/Aula05/Exercicio2/Exercicio2/nbproject/private/
/AulaTe/Aula05/Exercicio1/Exercicio1/dist/
/AulaTe/Aula05/Exercicio2/Exercicio2/build/
/AulaTe/Aula05/Exercicio2/Exercicio2/dist/
/AulaPr/Aula05/Exercicio03/Exercicio3/nbproject/private/
/AulaPr/Aula05/Exercicio03/Exercicio3/build/
/AulaPr/Aula05/Exercicio05/Exercicio 5/nbproject/private/
/AulaTe/Aula06/Exercicio01/Exercicio1/nbproject/private/
/AulaTe/Aula06/Exercicio01/Exercicio1/build/
/AulaTe/Aula06/Exemplo/Exemplo/nbproject/private/
/AulaTe/Aula06/Exemplo/Exemplo/build/
/AulaTe/Aula06/Exemplo/Exemplo/dist/
/AulaTe/Aula06/Exercicio2/Exercicio2/nbproject/private/
/AulaPr/Aula06/Exercicio3/Exercicio3/nbproject/private/
/AulaPr/Aula06/Exercicio3/Exercicio3/build/
/AulaPr/Aula06/Exercicio3/Exercicio3/dist/
/AulaPr/Aula06/Exercicio4/Exercicio4/nbproject/private/
/AulaPr/Aula06/Exercicio4/Exercicio4/build/
/AulaTe/Aula08/Exemplo1/nbproject/private/
/AulaTe/Aula08/Exercicio1/nbproject/private/
/AulaTe/Aula08/Exercicio1/dist/
/AulaTe/Aula08/Exercicio2/nbproject/private/
/AulaTe/Aula08/Exercicio2/dist/
/AulaTe/Aula08/Exercicio2/build/
/AulaPr/Aula08/Exercicio1/nbproject/private/
/AulaPr/Aula08/Exercicio1/build/
/AulaPr/Aula08/Exercicio1/dist/
/AulaPr/Aula08/Exercicio2/nbproject/private/
/AulaPr/Aula08/Exercicio2/dist/
/AulaPr/Aula08/Exercicio2/build/
/Projeto/Projeto/nbproject/private/
/Projeto/Projeto/build/
/Projeto/Projeto/dist/
/Projeto/nbproject/private/
/Projeto/build/
/Projeto/dist/
/Projeto2/dist/
